body, html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    background-color: #f7f7f7;
}

.banner {
    background-image: url(../imagenes/portada3.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 6em;
    margin-bottom: 20px;
    color:aliceblue;
}

p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.btn {
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #ca53c0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    border-radius: 10px; /* Redondear bordes */
    padding: 10px 20px; /* Ajustar padding */
    font-size: 1.2rem; /* Ajustar tamaño de texto */
}

.btn-secondary {
    background-color: #63144b;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: #a23e93;
}

/*Estilos para el navbar*/

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Para que la barra esté por encima de otros elementos */
    box-shadow: 0px 4px 2px -2px gray; /* Añadir una sombra para hacerla destacada */
}

.nav-link.active {
    font-weight: bold;
}


/*Estilos para los titulos*/

.text-center {
    color: #c353b4; /* Color rosa */
    font-size: 2.5rem; /* Tamaño de fuente grande */
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-bottom: 20px; /* Espacio debajo del título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave del texto */
}

/*Estilos para los Productos*/

#noticiasContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Ajusta el espacio entre las imágenes */
    margin-top: 10px;
    border-radius: 50px;
    padding: 10px; /* Puedes combinar todos los paddings en una sola línea */
    text-align: center;
}

.card-tittle {
    background-color: hsla(300, 100%, 91%, 0.887);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(250, 194, 255, 0.367);
    justify-content: center;
    text-align: center;
    margin: 0 - 10px;
}

.card-img-top {
    justify-content: center;
    height: 150px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen mantenga proporción dentro del contenedor */
}

.card-text {
    font-size: 1rem;
    color: #555;
}

/* Estilos básicos para la sección "About Us" */
#about-us {
    background-color: #f7f7f7;
    padding: 50px 20px;
    text-align: justify;
}

#about-us h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

#about-us p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/*Estilos de los Testimonios*/

#testimoniosContainer {
    display: flex;
    justify-content: center; /* Alinea las imágenes al centro */
    gap: 20px; /* Espacio entre las imágenes */
    width: 100%; /* El ancho del contenedor ocupa el 100% */
    height: auto; /* Elimina la altura fija */
    margin-left: 50px;
}

.custom-card {
    justify-content: center;
    align-items: center;
    background-color: #fcedfc; /* Cambia el color de fondo de la tarjeta */
    box-shadow: 0 4px 8px rgba(82, 50, 81, 0.652); /* Sombra para las tarjetas */
}

.custom-img {
    justify-content: center;
    height: 150px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen mantenga proporción dentro del contenedor */
}

.custom-card-body {
    margin-left: 10;
    justify-items: center;
}

.custom-title {
    text-align: center;
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
    color: #555; /* Color del título */
}

.custom-text {
    text-align: center;
    font-size: 1rem; /* Tamaño de la fuente del texto */
    color:#555; /* Color del texto */
}

.sectionPadding {
    padding: 50px;
}

/*Estilos para las imagenes de la pagina de Galeria*/

.galeria-img {

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    width: 286px; /* Establece un ancho fijo */
    height: 300px; /* Establece una altura fija */
    object-fit: cover; /* Ajusta la imagen para que se recorte y se ajuste bien dentro de su contenedor */
}

/*Estilos para la clase card*/

.card {
    border: none;
}

/*Estilos para el presupuesto*/

.error {
    color: red;
    font-size: 12px;
}

.espacioEntreElementosDelPresupuesto {
    margin-bottom: 35px;
}

.presupuestoFinal {
    border: none;
}

.presupuestoFinal:focus {
    outline: none;
}

/*Estilos para el mapa*/

.estilosCalcularRuta {
    padding-top: 20px;
}

/*Estilos para el Footer*/
.footer {
    background-color:rgb(222, 146, 208);
    color: white;
    text-align: center;
    padding: 20px;
}

.social-link {
    text-decoration: none;
    color: inherit; /* Para que mantenga el color de la pagina*/
}

.social-link:hover {
    text-decoration: underline; /* Solo subrayar cuando el cursor pase encima */
}
